{% extends 'base_admin.html.twig' %}

{% block body %}
    {{ parent() }}

    <div class="panel panel-default">
        <div class="panel-heading">Change password:</div>

        {% form_theme change_password_form 'forms/bootstrap.html.twig' %}
        {{ form_start(change_password_form) }}
        {{ form_widget(change_password_form) }}
        <input type="submit" value="Change" />
        {{ form_end(change_password_form) }}
    </div>

    <ul class="list-inline">
        <li>
            <a href="{{ path('admin_user_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_user_edit', { 'id': user.id }) }}">Back to edit</a>
        </li>
    </ul>
{% endblock %}